//general layout
.profile-details {
  margin-left: 10%;
  margin-right: 10%;
}

.edit-info-section {
  margin-top: 16px;
}

.edit-info-section-name {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.info-label {
  color: grey;
  margin: 0px;
  font-size: 1em;
}

.info-text {
  margin: 0px;
  font-size: 1.5em;
}

// For vendor
.info-vendor-check-label {
  color: grey;
}

.vendor-check {
  margin-bottom: 4px;
}
