<div class = "container-fluid">

  <form class = "login-form" (ngSubmit) = "login()" #loginForm="ngForm">

    <!-- Userfield field -->
    <div class = "form-group">
      <label for = "usernameInput">Username:</label>
      <input [(ngModel)] = 'model.username' id = "usernameInput" class = "form-control" name = "username" type = "text">
    </div>

    <!-- Password field -->
    <div class = "form-group">
        <label for = "passwordInput">Password:</label>
        <input [(ngModel)] = 'model.password' id = "passwordInput" class = "form-control" name = "password" type = "password">
    </div>

    <!-- Submit Button -->
    <button type = "submit" class = "btn btn-primary">Login</button>
  </form>
  <p>Don't have an account? <a href = "/register">Sign Up</a></p>

</div>
