<div class = "container-fluid place-print-order">


  <h1>
      <span *ngIf = "mode == 'create'">Place an order</span>
      <span *ngIf = "mode == 'edit'">Update order</span>
  </h1>

  <!--  must be authenticated -->
  <form *ngIf = "userToken" class = "place-order-form" (ngSubmit) = "placeOrder()" #placeOrderForm="ngForm">

    <!-- Multi select for multiple documents to order to be printed -->

    <ng-select *ngIf = "user_documents" [items] = "user_documents"
      bindLabel = "uploaded_file.name"
      [multiple]=  "true"
      bindValue = "id"
      placeholder = "Select Documents"
      [(ngModel)] = "model.documents"
      name = "documents" >
    </ng-select>
    <br>

    <div class = "form-group">
      <label for = "address-field">
        Address:
      </label>

      <textarea class = "form-control" [(ngModel)] = "model.address" name = "address">

      </textarea>

    </div>

    <div class = "form-check">
      <input class = "form-check-input" type = "checkbox" [(ngModel)] = "model.shipping" id = "shipping-check" name = "shipping">
      <label class = "form-check-label" for = "shipping-check">
        Shipping?
      </label>
    </div>


    <div class = "form-check">
      <input class = "form-check-input" type = "checkbox" [(ngModel)] = "model.pickup" id = "pickup-check" name = "pickup">
      <label class = "form-check-label" for = "pickup-check">
        Pickup?
      </label>
    </div>

    <!-- Submit button -->
    <button *ngIf = "mode == 'create'" class = "btn btn-success" type = "submit">Place Order</button>
    <button *ngIf = "mode == 'edit'" class = "btn btn-info" type = "submit">Update Order</button>

  </form>


</div>
