<div class = "message-profile-card card">

  <div class = "card-body">
    <div class = "row">

      <div class = "col-sm-3 profile-img">
      <!-- Profile Image -->
        <div class = "profile-container">
          <img class = "img-fluid rounded-circle" src = "https://via.placeholder.com/75/ffd300/FFFFFF/?text=Profile" />
        </div>
      </div>

      <div class = "col-sm-9 profile-img">
        <!-- Name of individual -->
        <div class = "profile-name">Name</div>
        <p>
          Lorem ipsum. Lorem Ipsum
        </p>
      </div>

    </div>
  </div>

</div>
