
<div class="card card-order">
    <div class = "card-header">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
    </div>
    <div class="card-body">

      <!-- Header -->
      <div class = "tracking-progress">
        <span class = "display-large"><b>Tracking Progress</b></span><br>
        <span class = "display-sub">Progress Description</span>
      </div>

      <div class = "row">
        <div class = "col-sm-2">
            <img class = "rounded-circle img-fluid" src = "https://via.placeholder.com/150"/>
        </div>

        <div class = "col-sm-7">
          <div class = "vendor-info">
            <span>Vendor Name</span>
            <br>
            <span>Other Specs</span>
            <br>
            <span>Price</span>
          </div>
        </div>

        <div class = "col-sm-3">
          <div class = "action-buttons">
            <button class = "text-center action-button">Details</button>
            <button class = "text-center action-button">Cancel</button>
          </div>
        </div>

      </div>
    </div>
</div>
