<div>

  <div class = "search-filters">

    <div class = "filter-options">
      <div class = "container-fluid">
        <div class = "row">
          <div class = "text-center col-md-2 filter-option color-blue">
            Type of Print
          </div>
          <div class = "text-center col-md-2 filter-option color-pink">
            Distance
          </div>
          <div class = "text-center col-md-2 filter-option color-yellow">
            Shipping
          </div>
          <div class = "text-center col-md-2 filter-option color-black">
            Quantity
          </div>
          <div class = "text-center col-md-2 filter-option color-turquoise">
            Price
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class = "result-list container-fluid">

    <!-- Example Card -->
    <div *ngFor = "let vendor_row of getVendorGrid(3)"  class = "row">
      <div *ngFor = "let vendor of vendor_row; index as i;" class = "col-sm-4">

        <vendor-card  [isFavorited] = 'vendor.favorited' (favoriteStatusChange)="favoriteVendor($event, i)" [vendorInfo] = 'vendor' cardColor = "{{vendor.color}}"></vendor-card>
      </div>
    </div>
  </div>

  <div class = "footer">

  </div>

</div>
