<div>

  <div class = "search-filters">

    <div class = "filter-options">
      <div class = "container-fluid">
        <div class = "row">

          <button class = "text-center btn btn-default col-md-2 filter-option color-blue">
            Type of Print
          </button>

          <button class = "text-center btn btn-default col-md-2 filter-option color-pink">
            Distance
          </button>

          <button class = "text-center btn btn-default col-md-2 filter-option color-yellow">
            Shipping
          </button>

          <button class = "text-center btn btn-default col-md-2 filter-option color-black">
            Quantity
          </button>

          <button data-toggle="popover" data-container="body" data-placement="bottom" data-html ="true"  id="price-filter-btn" class = "text-center btn btn-default col-md-2 filter-option color-turquoise">
            Price
          </button>

          <!-- Popup content -->
          <price-popup-filter for = "price-filter-btn"></price-popup-filter>


        </div>
      </div>
    </div>

  </div>

  <div class = "result-list container-fluid">
    <!-- Example Card -->
    <div *ngFor = "let vendor_row of getVendorGrid(3)"  class = "row">
      <div *ngFor = "let vendor of vendor_row; index as i;" class = "col-sm-4">

        <vendor-card [placeOrder] = "placeOrder" [isFavorited] = 'vendor.favorited' (favoriteStatusChange)="favoriteVendor($event, i)" [vendorInfo] = 'vendor' cardColor = "{{vendor.color}}"></vendor-card>
      </div>
    </div>
  </div>

  <div class = "footer">

  </div>

</div>
<order-modal></order-modal>
