<div style = "display:none;" id = "popover-content-{{for_id}}">

  <div class = "filter-content">

    <h5>What is your budget?</h5>

    <form>
      <div class = "form-group">
        <input type = "text" class = "form-control"/>
      </div>
      <button class = 'btn btn-default color-turq' type = "submit">Submit</button>
    </form>

  </div>
</div>


<!-- Ex code -->

        <!--
<div style = "display: none; " id="popover-content-price-filter-btn">
    <form class="form-inline" role="form">
        <div class="form-group">
          <input class="headerSearch search-query" id="str" name="str" type="text" placeholder="Search..." />
          <span class="glyphicon glyphicon-search" style="margin:3px 8px 0 -20px;"></span>
          <input class="btn btn-primary btn-xs" id="phSearchButton" type="submit" value="Search" />
        </div>
    </form>
</div>
           -->
