<div style = "display:none;" id = "popover-content-{{for_id}}">

  <div class = "filter-content">



    <form>
      <!-- Multiple choice -->
      <h5>How will you be printing?</h5>

      <div class = "printing-type-choice">
        <div class = "form-check">
          <input class = "form-check-input" type = "radio" id = "2D-radio-option" name = "printing-type-radio-option"/>
          <label for = "2D-radio-option">
            2D
          </label>
        </div>

        <div class = "form-check">
          <input class = "form-check-input" type = "radio" id = "3D-radio-option" name = "printing-type-radio-option"/>
          <label for = "3D-radio-option">
            3D
          </label>
        </div>

      </div>

      <div class = "2d-material-choice">

        <h5>Black & White or Color?</h5>

        <div class = "form-check">
          <input class = "form-check-input" type = "radio" id = "BW-radio-option" name = "2d-mat-type-radio-option"/>
          <label for = "BW-radio-option">
            B&W
          </label>
        </div>

        <div class = "form-check">
          <input class = "form-check-input" type = "radio" id = "color-radio-option" name = "2d-mat-type-radio-option"/>
          <label for = "color-radio-option">
            Color
          </label>
        </div>

      </div>

      <div class = "3d-material-choice">
        <h5>Which materials?</h5>

      </div>

      <!-- Submit button -->
      <button type = "submit" class = "btn btn-default color-blue">Submit</button>


    </form>


  </div>

</div>
