
<div class = "chat row">

  <section class = "col-sm-4 sidebar">
    <div class = "friends-list">
      

      <message-profile-card></message-profile-card>
      <message-profile-card></message-profile-card>
      <message-profile-card></message-profile-card>

    </div>
  </section>

  <section class = "col-sm-8 main">
    <div class = "main-container">

      <div class = "message-list item">

        <div class = "message-container">
          <div class = "message-sent-container">
                  <message-bubble class = "message-sent" message = "I need to print a dog" message_type = "reciever"></message-bubble>
          </div>

          <div class = "message-recieved-container">
                <message-bubble class = "message-recieved" message = "why?!!!" message_type = "sender"></message-bubble>
          </div>
        </div>

      </div>
      <div class  ="message-form item">
        <div class = "form-group message-form-items row">
          <input style = "" class = "col-md-8 form-control">
          <button style = ""class = "col-md-4 btn btn-primary">submit</button>
        </div>
      </div>
    </div>
  </section>

</div>
