
<div class = "chat">

  <section class = "sidebar">
    <div class = "friends-list">
      Friends List

      <message-profile-card></message-profile-card>
      <message-profile-card></message-profile-card>
      <message-profile-card></message-profile-card>

    </div>
  </section>

  <section class = "main">
    <div class = "main-container">

      <div class = "message-list item">

        <div class = "message-container">
          <div class = "message-sent-container">

            <div class = "message-sent">

            </div>
          </div>

          <div class = "message-recieved-container">

            <div class = "message-recieved">

            </div>
          </div>

          <div class = "message-sent-container">

            <div class = "message-sent">

            </div>
          </div>

          <div class = "message-recieved-container">

            <div class = "message-recieved">

            </div>
          </div>

          <div class = "message-sent-container">

            <div class = "message-sent">

            </div>
          </div>

          <div class = "message-recieved-container">

            <div class = "message-recieved">

            </div>
          </div>
        </div>

      </div>
      <div class  ="message-form item">
        <div class = "form-group">
          <input style = "width: 80%;" class = " float-left form-control">
          <button style = "width: 20%;"class = "btn float-right btn-primary">submit</button>
        </div>
      </div>
    </div>
  </section>

</div>
