<div class="modal fade" id="placeOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <!-- Order Modal -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Place Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <form *ngIf = "!order_placed" class = "order-form" (ngSubmit) = "placeOrder()" #orderForm="ngForm" class = "text-center">

          <!-- Quantity -->
          <h3>Quantity of Order</h3>
          <div>

            <!-- Sub button -->

            <a (click) = "decreaseQuant()" class = "btn btn-sub btn-default">
              <img src = "/assets/icons/sub.svg"/>
            </a>

            <!-- Input Field -->
            <input [(ngModel)] = 'order_model.quantity' class = "text-field" type = "number" name = 'order-quantity'/>

            <!-- Add button -->
            <a (click) = "increaseQuant()" class = "btn btn-add btn-default">
              <img src = "/assets/icons/add.svg"/>
            </a>

          </div>

          <div class = "upload-file-container">
            <h3>Upload File(s)</h3>
            <h5>Upload zip for multiple</h5>
            <!-- Upload button -->
            <div class = 'form-group'>
              <input (change) = "onFileChange($event)" type = "file" id = "customFile">
            </div>

          </div>
          <!-- Submit button-->
          <button class = "btn btn-block btn-default btn-submit" type = "submit">Submit</button>
        </form>

        <div *ngIf = "order_placed">
          <p>
            Your order has been sent. You can now chat with your vendor in the messages section.
          </p>
        </div>


      </div>


    </div>
  </div>
</div>
