<div class ="container-fluid">
  <form *ngIf = "profile" class = "edit-profile-form" (ngSubmit) = "updateProfile()" #editProfileForm = "ngForm">

    <!-- Username -->
    <div class = "form-group">
      <label for = "username-input">Username:</label>
      <input [(ngModel)] = "profile.user.username" class = "form-control" type = "text" name = "username" id = "username-input"/>
    </div>

    <!-- Email -->

    <div class = "form-group">
      <label for = "email-input">Email:</label>
      <input [(ngModel)] = "profile.user.email" class = "form-control" type = "text" name = "email" id = "email-input"/>
    </div>

    <!-- First Name -->

    <div class = "form-group">
      <label for = "first-name-input">First Name:</label>
      <input [(ngModel)] = "profile.user.first_name" class = "form-control" type = "text" name = "first_name" id = "first-name-input"/>
    </div>

    <!-- Last Name -->


    <div class = "form-group">
      <label for = "last-name-input">Last Name:</label>
      <input [(ngModel)] = "profile.user.last_name" class = "form-control" type = "text" name = "last_name" id = "last-name-input"/>
    </div>

    <!-- Phone Number -->

    <div class = "form-group">
      <label for = "phone-number-input">Phone Number:</label>
      <input [(ngModel)] = "profile.phone_number" class = "form-control" type = "text" name = "phone-number" id = "phone-number-input"/>
    </div>

    <!-- Bio -->

    <div class = "form-group">
      <label for = "username-input">Bio:</label>
      <textarea [(ngModel)] = "profile.bio" class = "form-control" type = "text" name = "bio" id = "bio-input"></textarea>
    </div>

    <!-- Vendor? -->

    <div class = "form-check">
      <!-- checkbox -->
      <input [(ngModel)] = "profile.isVendor" class="form-check-input" type = "checkbox" name = "vendor-input" id = "vendor-input"/>
      <label class="form-check-label" for = "vendor-input">Vendor:</label>
    </div>

    <!-- Submit Button -->
    <button class = "btn btn-primary" type = "submit" clsas = "btn btn-success">Update</button>

  </form>
</div>
