<div class = "container-fluid search-offers-page">

  <!-- Search Box -->
  <form id = 'search-offers-form' (ngSubmit) = "search()" #searchForm = "ngForm">
    <div class = "form-row">
      <div class = "col-10">
        <input type = 'text' [(ngModel)] = "query" class = "form-control" name = "search-query"/>
      </div>
      <div class = "col-2">
        <button type = "submit" class ="btn btn-block btn-primary">Search</button>
      </div>
    </div>
  </form>

  <!-- Offer Results -->
  <div class = "search-results">
    <div *ngFor = "let offer of results; let i = index;" class = "card offer-card">
      <div class = "card-body">

        <!-- Offer Name -->
        <span>Name: {{offer.printerName}}</span>
        <br>

        <!-- Max Price -->
        <span>Max: ${{offer.maxPrice}}</span>
        <br>

        <!-- Min Price -->
        <span>Min: ${{offer.minPrice}}</span>
        <br>

        <!-- Note -->
        <span>Note: {{offer.note}}</span>
        <br>

      </div>
      <div class = "card-footer">
        <!-- Additional Spec Actions Edit + Delete -->
        <button class = "btn btn-info">View</button>
      </div>

    </div>
  </div>

</div>
