<div class = "container-fluid view-order">

  <div *ngIf = "order" class = "order-display">
    <h1>Order for {{order.printing_offer.printerName}}</h1>
    <button (click) = "cancelOrder()" class = "btn btn-danger">Cancel Order</button>
    <button (click) = "editOrder()" class = "btn btn-info">Edit Order</button>

    <!-- information regarding documents to print -->
    <h3>{{order.documents.length}} documents to print</h3>

    <div class = "document-info">

    </div>

    <!-- Documents for Order -->
    <br>
    <div class = "order-documents">
      <h2 class = "text-center">Order Documents</h2>

      <!-- TODO List all documents for Order -->
      <div class = "card document-card" *ngFor = "let document of order_documents">
        <div class = "card-body">
          <!-- HARDCODED NOTE -->
          <button class = "btn btn-primary" (click) = "viewFile(document)">View</button>
          <br>
          <p *ngIf = "document.uploaded_file">Name: {{document.uploaded_file.name}}</p>
          <p *ngIf = "document.document_type">Type: {{document.document_type.name}}</p>
        </div>
      </div>
      <!-- END -->

    </div>


    <!-- contact info for both orderer and vendor -->
    <br>
    <div  *ngIf = "order_contact_info"  class = "row">
      <div class = "col orderer-info">
        <h2 class = "text-center">Orderer Contact Info</h2>

        <div class = "card card-contact">

          <div class = 'card-body'>
            <p>Name: {{order_contact_info.orderer.user.username}}</p>
            <p>Email: {{order_contact_info.orderer.user.email}}</p>
            <p>Bio: {{order_contact_info.orderer.bio}}</p>
            <p>Phone Number: {{order_contact_info.orderer.phone_number}}</p>
          </div>

        </div>

      </div>

      <div class = "col vendor-info">
        <h2 class = "text-center">Vendor Contact Info</h2>

        <div class = "card card-contact">

          <div class = 'card-body'>
            <p>Name: {{order_contact_info.vendor.user.username}}</p>
            <p>Email: {{order_contact_info.vendor.user.email}}</p>
            <p>Bio: {{order_contact_info.vendor.bio}}</p>
            <p>Phone Number: {{order_contact_info.vendor.phone_number}}</p>
          </div>

        </div>
      </div>
    </div>

  </div>


</div>
