<div class = "new-document-page container-fluid">

  <!-- Upload document form -->
  <form class = "document-upload-form" (ngSubmit) = "uploadDocument()" #documentUploadForm = "ngForm">

    <div class = "form-group">
      <label for="document">Choose a document:</label>
      <input (change)= "onFileChange($event)" type="file" class = "form-control-file"
         id="document" name="document">
    </div>

    <div class = "form-group">
      <label for = "document-type-select">Document Type: </label>
      <select [(ngModel)] = "selected_document_type" class = "form-control" id = "document-type-select" name = "document-type">
        <!-- Loop through available options -->
        <option value = "{{document_type.id}}" *ngFor = "let document_type of document_type_options">{{document_type.name}}</option>

      </select>
    </div>

    <button class = "btn btn-success" type = "submit">Submit</button>

  </form>

</div>
