<div *ngIf = "printing_offer" class = "container-fluid offer-page">

  <h1>{{printing_offer.printerName}}</h1>

  <div *ngIf = "write_access" class = "authenticated-actions">
    <!-- TODO delete button -->
    <button (click) = "deletePrintingOffer()" class = "btn btn-danger">Delete</button>

    <!-- TODO edit button -->
    <button class = "btn btn-info">Edit</button>
  </div>
  <br>
  <div class = "offer">
    <p>Printer: {{printing_offer.printer.name}}
    <p>Price range: From ${{printing_offer.minPrice}} to ${{printing_offer.maxPrice}}

    <p>Special Information: {{printing_offer.note}}</p>
  </div>

  <!-- TODO Display Offer Specs -->


  <!-- Make this look better -->

</div>
