.offer-card{
  background-color: #EEEEEE;
  margin-top: 16px;
  margin-bottom: 16px;
}

.document-card{
  margin-top: 16px;
  margin-bottom: 16px;
}

.profile-details {
  margin-left: 10%;
  margin-right: 10%;
}

.info-section {
  margin-top: 16px
}

.info-label {
  color:grey;
  margin:0px;
  font-size: 0.75em;
}

.info-text {
  margin:0px;
}
