
<div *ngIf = "profile" class = "container-fluid profile-page">
  <div class = "profile-details">
    <div class = "text-center profile-picture">
      <img width = "150" *ngIf = "profile.profile_img" src = "{{api.getEndpoint() + profile.profile_img}}" class = "img-fluid rounded-circle"/>
    </div>

    <div class = "profile-button">
      <a href = "/edit-profile" class = "btn float-right btn-info">Edit Profile</a>
    </div>

    <div class = "profile-type-info info-section">
      <p class = "info-label">Profile Type:</p>
      <p *ngIf = "profile.isVendor" class = "info-text">Vendor</p>
      <p *ngIf = "!profile.isVendor" class = "info-text">Customer</p>
    </div>

    <div class = "name-info info-section">
      <p class = "info-label">Name</p>
      <p class = "info-text">{{profile.user.first_name}} {{profile.user.last_name}}</p>
      <p *ngIf = "'' == profile.user.first_name + profile.user.last_name" class = "info-text">N/A </p>
    </div>

    <div class = "username-info info-section">
      <p class = "info-label">Username:</p>
      <p class = "info-text"> {{profile.user.username}}</p>
    </div>

    <div class = "email-info info-section">
      <p class = "info-label">Email</p>
      <p class = "info-text">{{profile.user.email}}</p>
    </div>

    <div class = "email-info info-section">
      <p class = "info-label"></p>
      <p class ="info-text"></p>
    </div>

    <div class = "phone-info info-section">
      <p class = "info-label">Phone:</p>
      <p  class = "info-text"> {{profile.phone_number}}</p>
      <p *ngIf = "profile.phone_number == ''" class = "info-text">N/A</p>
    </div>

    <div class = "about-info info-section">
      <p class = "info-label">About:</p>
      <p class = "info-text"> {{profile.bio}}</p>
      <p *ngIf = "profile.bio == ''"  class = "info-text">N/A</p>
    </div>


  <!--
    <a class ="btn btn-info" [routerLink]="['/edit-profile']">
      Edit Profile
    </a>
  -->
  </div>
  <br>
</div>
