<div class = "container-fluid create-printing-offer">

  <!-- NOTE change depending on mode -->
  <h1>Create a Printing Offer</h1>

  <!-- NOTE changes if editting mode enabled -->
  <!-- The Creation Form -->
  <form class = "create-printing-offer-form" (ngSubmit) = "createOrUpdatePrintingOffer()" #createOfferForm = "ngForm">

    <!-- Printer Name -->
    <div class = "form-group">
        <label for = "printer-name-input">Printer Name: </label>
        <input [(ngModel)] = "model.printerName" type = "text" class = "form-control" id = "printer-name-input" name = "printer-name" />
    </div>


    <!-- Printer -->
    <div class = "form-group">
      <label for = "printer-input">Printer: </label>
      <select [(ngModel)] = "model.printer" class = "form-control" name = "printers" id = "printer-input">
        <!-- Render the option list -->
        <option *ngFor = "let printer of printers;" value = "{{printer.id}}">
          {{printer.name}}
        </option>
      </select>
    </div>

    <!-- Min Price -->
    <div class = "form-group">
        <label for = "min-price-input">Min Price: </label>
        <input [(ngModel)] = "model.minPrice" type = "number" class = "form-control" id = "min-price-input" name = "min-price" />
    </div>

    <!-- Max Price -->
    <div class = "form-group">
        <label for = "max-price-input">Max Price: </label>
        <input [(ngModel)] = "model.maxPrice" type = "number" class = "form-control" id = "max-price-input" name = "max-price" />
    </div>

    <!-- Note -->
    <div class = "form-group">
        <label for = "note-input">Note: </label>
        <textarea [(ngModel)] = "model.note" class = "form-control" id = "note-input" name = "note"></textarea>
    </div>

    <!-- Submission Button -->
    <!-- NOTE may change for edit mode -->

    <button *ngIf = "mode == 'create'" class = "btn btn-primary" type = "submit" class = "btn btn-success">Create</button>
    <button *ngIf = "mode == 'edit'" class = "btn btn-primary" type = "submit" class = "btn btn-success">Update</button>


  </form>

  <!-- END -->


</div>
