<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <!-- Order Modal -->
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class = "row">
          <div class = "col-sm-3">
            <!-- Profile picture -->
            <img *ngIf = "!vendorInfo.profile_img" class = "rounded-circle img-fluid" src = "https://via.placeholder.com/150"/>
            <img *ngIf = "vendorInfo.profile_img" class = "rounded-circle img-fluid" src = "{{api.getEndpoint() + vendorInfo.profile_img}}"/>
          </div>

          <div class = "col-sm-6">
            <!-- Vendor info -->
            <div class = "vendor-info">
              <h1>{{vendorInfo.user.username}}</h1>
              <div class = "vendor-info-content">
                <p>- {{vendorInfo.best_spec.material}} Material</p>
                <p>
                  {{vendorInfo.additional_info}}
                </p>
                </div>
            </div>

          </div>

          <div class = "col-sm-3">
            <!-- Favorite Button -->
            <button class = "btn btn-favorite btn-default float-right">
              <span><img width = "40" src = "/assets/icons/favorite-icon.svg"/></span>
              <!--
              <span *ngIf = "isFavorited == true" ><img  width = "40" src = "/assets/icons/favorited-icon.svg"/></span>
            -->
            </button>

            <!-- Order button -->
            <button (click) = "placeOrder()" class = "btn btn-block btn-default btn-order">Order</button>

          </div>

        </div>
      </div>

      <div class="modal-footer">

        <div class = "row order-row">
          <div class = "text-center col-sm-4">
            <!-- Distance -->


            <!-- Icon -->
            <img class = "distance distance-icon img-fluid" width = "50"  src = "/assets/icons/place-icon.svg" />

            <!-- Extra Info -->
            <p class = "distance miles-away"> {{vendorInfo.distance}} Miles away</p>
            <p class = "distance address">{{vendorInfo.address}}</p>

          </div>
          <div class = "text-center col-sm-4">
            <!-- Price -->

            <!-- Button -->
            <button class = "btn btn-lg btn-block  btn-default btn-price">Price</button>

            <!-- Material Price -->
            <p class = "price cost-per">${{vendorInfo.best_spec.price_per}} / piece</p>

          </div>

          <div class = "col-sm-4 text-center">
            <!-- Types of Transport -->


            <!-- Icon -->
            <img class = "transport transport-icon img-fluid" width = "50"  src = "/assets/icons/car-icon.svg" />


            <!-- Type of transport -->
            <p class = "transport transport-type">{{vendorInfo.best_spec.transport}}</p>

            <!-- Subtitle -->
            <!--
            <p class = "transport transport-subtitle">Subtitle</p>
          -->
          </div>

        </div>
      </div>
    </div>
  </div>

  <place-order-modal></place-order-modal>
